body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center top 50%;
}

h1, h3 {
    font-family: 'MedievalSharp', cursive;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}